<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.online.shopping.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.online.shopping.model.Product" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="seller" property="seller" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.online.shopping.model.Product" extends="BaseResultMap" >
    <result column="image" property="image" jdbcType="LONGVARBINARY" />
  </resultMap>
  <resultMap id="ProductViewMap" type="com.online.shopping.vo.ProductView" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="seller" property="seller" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="avg_rate" property="avgRatingValue" jdbcType="DOUBLE"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, seller, price, quantity, description
  </sql>
  <sql id="Blob_Column_List" >
    image
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="ResultMapWithBLOBs">
    select * from product
  </select>
  <select id="getProductInfoBySellerId" parameterType="java.lang.Integer" resultMap="ProductViewMap">
    select p.*,CAST(AVG(r.`value`) AS DECIMAL(10,2)) as avg_rate
    from product p
    left join rating r on p.id=r.product_id
    inner join seller s on p.seller=s.id
    WHERE s.id=#{id}
    GROUP BY p.id
    ORDER BY avg_rate DESC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.online.shopping.model.Product" >
    insert into product (id, type, seller, 
      price, quantity, description, 
      image)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{seller,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL}, #{quantity,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{image,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.online.shopping.model.Product" >
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="seller != null" >
        seller,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="image != null" >
        image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="seller != null" >
        #{seller,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.online.shopping.model.Product" >
    update product
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="seller != null" >
        seller = #{seller,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.online.shopping.model.Product" >
    update product
    set type = #{type,jdbcType=INTEGER},
      seller = #{seller,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      quantity = #{quantity,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      image = #{image,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.online.shopping.model.Product" >
    update product
    set type = #{type,jdbcType=INTEGER},
      seller = #{seller,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      quantity = #{quantity,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
