<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.online.shopping.mapper.RatingMapper" >
  <resultMap id="BaseResultMap" type="com.online.shopping.model.Rating" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="value" property="value" jdbcType="INTEGER" />
    <result column="rating_date" property="ratingDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_id, product_id, value, rating_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rating
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rating
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.online.shopping.model.Rating" >
    insert into rating (id, customer_id, product_id, 
      value, rating_date)
    values (#{id,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{productId,jdbcType=BIGINT}, 
      #{value,jdbcType=INTEGER}, #{ratingDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.online.shopping.model.Rating" >
    insert into rating
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="ratingDate != null" >
        rating_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="value != null" >
        #{value,jdbcType=INTEGER},
      </if>
      <if test="ratingDate != null" >
        #{ratingDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.online.shopping.model.Rating" >
    update rating
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=INTEGER},
      </if>
      <if test="ratingDate != null" >
        rating_date = #{ratingDate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.online.shopping.model.Rating" >
    update rating
    set customer_id = #{customerId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=BIGINT},
      value = #{value,jdbcType=INTEGER},
      rating_date = #{ratingDate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>