<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.online.shopping.mapper.SellerMapper" >
  <resultMap id="BaseResultMap" type="com.online.shopping.model.Seller" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="selling_address" property="sellingAddress" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, selling_address, email, company_name
  </sql>
  <!--
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from seller
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from seller
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.online.shopping.model.Seller" >
    insert into seller (id, name, selling_address, 
      email, company_name)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sellingAddress,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.online.shopping.model.Seller" >
    insert into seller
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sellingAddress != null" >
        selling_address,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sellingAddress != null" >
        #{sellingAddress,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.online.shopping.model.Seller" >
    update seller
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sellingAddress != null" >
        selling_address = #{sellingAddress,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.online.shopping.model.Seller" >
    update seller
    set name = #{name,jdbcType=VARCHAR},
      selling_address = #{sellingAddress,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  -->
</mapper>
